<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-12 gap-6">
  <div class="lg:col-span-4 h-full">
    <app-dashboard-statistics></app-dashboard-statistics>
  </div>

  <div class="lg:col-span-4 h-full">
    <app-dashboard-mini-calendar></app-dashboard-mini-calendar>
  </div>

  <div class="lg:col-span-4 h-full">
    <app-dashboard-tasks></app-dashboard-tasks>
  </div>

  <div class="lg:col-span-8 h-full">
    <app-dashboard-invoices-chart></app-dashboard-invoices-chart>
  </div>

  <div class="lg:col-span-4 h-full">
    <app-dashboard-weather></app-dashboard-weather>
  </div>

  <div class="lg:col-span-4 h-full">
    <app-dashboard-notes></app-dashboard-notes>
  </div>

  <div class="lg:col-span-4 h-full">
    <app-dashboard-monthly-clients></app-dashboard-monthly-clients>
  </div>

  <div class="lg:col-span-4 h-full">
    <app-dashboard-signed-documents></app-dashboard-signed-documents>
  </div>

  <div class="lg:col-span-4 h-full">
    <app-dashboard-video-calls></app-dashboard-video-calls>
  </div>

  <div class="lg:col-span-4 h-full">
    <app-dashboard-recent-chats></app-dashboard-recent-chats>
  </div>

  <div class="lg:col-span-4 h-full">
    <app-dashboard-recent-activity></app-dashboard-recent-activity>
  </div>

  <div class="lg:col-span-4 h-full">
    <app-dashboard-storage-usage></app-dashboard-storage-usage>
  </div>
</div>
